@tailwind base;
@tailwind components;
@tailwind utilities;


.animate-slow-bounce {
  animation: slow-bounce 3s infinite;

}

@keyframes slow-bounce {
  0%, 100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  .animate-floating {
    animation: floating linear 20s infinite;
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }

  12.5% {
    transform: translate(3%, 0%);
  }

  25% {
    transform: translate(5%, 2%);
  }

  37.5% {
    transform: translate(3%, -2%);
  }

  50% {
    transform: translate(0, 0);
  }

  62.5% {
    transform: translate(-3%, 2%)
  }

  75% {
    transform: translate(-5%, 0%);
  }

  87.5% {
    transform: translate(-3%, -2%)
  }

  100% {
    transform: translate(0, 0);
  }
}
